.guided-carusel {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.local-guided-hading{
	text-align: center;
	margin-top: -50px!important;
	margin-bottom: 60px!important;
}
@media only screen and (max-width: 600px) {
  .guided-carusel {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
  }
}
