.guided-container{
	background-image: url(../../../assets/images/banner10.jpg);
	height:450px;
	position: relative;
}
.guided-bg-header{
	font-size: 60px;
	font-weight: 700;
	color: white;
	letter-spacing: 1.5;
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.meet-expert{
	text-align: center;
	padding: 80px;
	height: 350px;
	/* width: 65%; */
}
.meet-expert .meet-expert-header{
font-size: 50px;
font-weight: 700;
}
.meet-expert .meet-description{
	font-size: 20px;
}
.meet-description{
	width: 60%;
	margin: 0 auto;
	padding: 10px;
}
