*{
	font-family: "Poppins";
}
.card-container {
	font-family: "Ubuntu";
  height: 450px;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.11);
  background-position: center ;
  box-shadow: 0px 8px 12px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
  padding: 0;
	margin:0;
	background-color: white;
}
.card-container:hover {
  box-shadow: 0px 20px 40px -10px rgba(0, 0, 0, 0.4)!important;
  will-change: transform;
  transition: box-shadow 0.5s;
	opacity: 1;
	background-color: white!important;
}
.card-container:hover .heading {
  color: #79b530;
}
.card-container:hover .event-area {
  color: #79b530;
}
.card-container:hover .price-area {
  font-weight: 900;
}
.card-img {
  height: 200px;
  width: 100%;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  border-radius: 10px 10px 2px 2px;
}
.heading {
  height: 30px !important;
  overflow: hidden;
  padding: 1em;
}
.description-area {
  text-align: justify;
  height: 95px;
  height: 60px;
  box-sizing: border-box;
  overflow: hidden;
}
.event-area {
  height: 50px;
  box-sizing: border-box;
  overflow: hidden;
  text-align: center;
}
.explore {
  overflow: hidden;
}
.btn-explore {
  background: #89be48 !important;
  color: white !important;
	cursor: pointer!important;
}
.btn-explore:hover {
  /* border:1px solid  #79B530; */
  background-color: #79b530b6 !important;
  border-radius: 5px;
}
