* {
  box-sizing: border-box;
}
.testimonial-card {
  z-index: 3;
  height: 300px;
  box-shadow: 2px 5px 5px gray;
  box-sizing: border-box;
	border-radius: 10px;
}
.testimonial-card img {
  display: block;
  box-sizing: border-box;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 10px;
  top: -60px;
  box-shadow: 0 8px 20px -4px #95abbb;
  width: 100px;
  height: 100px;
}
.testimonial-card h5 {
  box-sizing: border-box;
  height: 20px;
  margin-top: 2px;
}
.testimonial-card blockquote {
  box-sizing: border-box;
  height: 85px;
}
.testimonial-card p {
  box-sizing: border-box;
  height: 15px;
}
